extends layout.pug 

block content 
    section 
        h1 My Name
        if username
            form
                h2 registered name: #{username}
        else
           form
                label Please enter your username
                br
                input(type="text" placeholder="enter your name")  
                button(type="submit") Submit
    script(src="/js/ajaxTrackName.js")