.header,
.header-nav,
.nav,
.banner,
.main-section,
.main-sections {
  display: flex;
}

/* navigator */
.header {
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.nav {
  justify-content: space-around;
}

/* banner */
.banner {
  justify-content: center;
  align-items: center;
}

/* main-content */
.main-section {
  flex-wrap: wrap;
}

.main-sections {
  flex: 1 45%;
} /* regard as flex items of .main-section */

.main-sections {
  flex-direction: column;
  align-items: center;
} /* regard as flex container */

/* flexbox layout when viewport width below 750px */
@media screen and (max-width: 650px) {
  .header {
    flex-direction: column;
  }

  .main-sections {
    flex: 1 100%;
  }
}

/* flexbox layout when viewport width above 1200px */
@media screen and (min-width: 1200px) {
  .main-section {
    max-width: 1200px;
    margin: 0px auto;
  }
}
