.header,
.header-nav {
  display: flex;
  align-items: center;
}

.header {
  justify-content: space-between;
}

.header-icon {
  margin-right: auto;
  margin-left: 20px;
}

.header-nav {
  flex-grow: 0.5;
  justify-content: space-between;
}

.header-nav a {
  margin: 0 30px;
}

.header-nav div {
  flex-grow: 0.3;
}
